// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&family=Lato:wght@400;700;900&display=swap);
$body-font-family: 'Nunito', sans-serif;
$heading-font-family: 'Lato', 'Nunito', sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1650px
);
